<div class="container">
  <img src="back_menu.jpg" class="background" />

  <div class="top_bar">
    <img src="icon.png" class="icon_phone" />
    <h1 class="icon_text">Phone Book</h1>
  </div>

  <div class="Crud_area">
  <h2 class="text_crud">Welcome!, Select an action:</h2>
  <div class="botoes-container">
    <button class="crud_button">Add</button>
    <button class="crud_button">List</button>
    <button class="crud_button">Search</button>
    <button class="crud_button">Delete</button>
  </div>
</div>


