.title { /*  font-family:  'Indie Flower', serif; fonte dos textos */
    font-size: 65px;
    font-family:  'Rock Salt', cursive;
    width: 530px;
    margin: 0 auto; 
}
body {
    padding: 0;
    margin: 0;
    font-family:  'Indie Flower', serif; 
    background-color: antiquewhite;
    border: 2px solid red;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div-form-option {
    background-color: aquamarine;
    width: 300px;
    height: auto;
    margin-left: 180px;
}
.button-options {
    padding: 15px;
    width: auto;
    font-size: 20px;
    border-radius: 10px;
    border-color: blue;
    border-style: dashed;
}

